* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    background: #fff;
    line-height: 32px;
}

/* Nav */
.section1 {
    height: 100vh;
    width: 100%;
    background: #000;
}

.nav {
    display: flex;
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    transition: ease 825ms;
    z-index: 3;
}

.nav h1 {
    margin-left: 5%;
    color: #fff;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Nova Round', cursive;
}

.nav li {
    display: inline-block;
    margin-right: 35px;
    font-size: 14px;
}

.nav ul {
    margin-right: 2%;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

/* Nav after */
.nav-b {
    display: flex;
    width: 100%;
    height: 62px;
    background: #fff;
    position: fixed;
    transition: ease 825ms;
    box-shadow: -3px 4px 5px rgba(0, 0, 0, 0.06);
}

.nav-b h1 {
    color: #000;
}

.nav-b a {
    color: #000;
}

/* Home Img */
.home-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
}

/* Landing Page */
.landing-p {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    align-items: center;
    margin-top: 14%;
}

.landing-p h1 {
    font-size: 55px;
    font-weight: 400;
    color: #fff;
    font-family: 'Nova Round', cursive;
    letter-spacing: 5px;
    margin-top: 29px;
}

.landing-p h2 {
    font-size: 25px;
    color: white;
    font-weight: 100;
    filter: opacity(75%);
}

.landing-p p {
    font-size: 16px;
    color: white;
    margin-top: 35px;
    text-align: center;
}

.lp-button {
    font-size: 15px;
    font-weight: 700;
    width: 155px;
    height: 36px;
    background: #FED330;
    border: 3px #FED330 solid;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.lp-button:hover {
    background: none;
    color: #FED330;
    transition: ease 600ms;
}

/* Menu Selection */
.menu {
    display: flex;
    width: 100%;
    height: 350px;
    justify-content: space-evenly;
}

.menu-box {
    margin-top: 4.5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
    height: 225px;
    box-shadow: -3px 4px 4px rgba(0, 0, 0, 0.06);
}

.desert, .drink, .entrees {
    height: 100%;
    width: 100%;
}

.menu-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-type h1 {
    font-size: 25px;
}

/* What We Offer Section */
.section4 {
    display: flex;
    height: 450px;
    width: 100%;
}

.wwo {
    display: flex;
    width: 80%;
    height: 450px;
    flex-direction: column;
    margin-left: 7.8%;
    margin-top: 5%;
}

.wwo h1 {
    font-size: 43px;
}

.wwo-p1 {
    font-size: 15px;
    margin-top: 3.8%;
}

.wwo-p2 {
    font-size: 15px;
    margin-top: 1.5%;
}

.wwo button {
    width: 200px;
    height: 42px;
    background: none;
    border: 3px #FED330 solid;
    color: #FED330;
    font-size: 15px;
    font-weight: 600;
    margin-top: 3.5%;
    cursor: pointer;
}

.wwo-seperator {
    height: 60px;
    width: 4px;
    background: #26DE81;
    position: absolute;
    left: 5%;
    top: 168.5%;
}

/* Perks */
.perks {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
}

.perks-slope {
    display: grid;
    height: 500px;
    width: 385px;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    margin-top: 9%;
}

.orange, .cherry, .strawberry {
    height: 100%;
    width: 100%;
}

.slope-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #26DE81;
}

.slope-info h1 {
    font-size: 29px;
    line-height: 37px;
}

.slope-info p {
    font-size: 13px;
    line-height: 37px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 15px;
}

/* Benefits */
.benefits {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 1fr;
    width: 100%;
    height: 375px;
    margin-top: 25%;
}

.benefits-text {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;

}

.benefits-text h1 {
    font-size: 45px;
}

.benefits-text p {
    font-size: 15px;
    margin-top: 5%;
}

.benefits-text button {
    width: 170px;
    height: 38px;
    border: 3px #FED330 solid;
    background: none;
    color: #FED330;
    font-size: 15px;
    font-weight: 600;
    margin-top: 4.3%;
    cursor: pointer;
}

.benefits-text h1, .benefits-text button, .benefits-text p {
    margin-left: 6%;
    margin-right: 4%;
}

/* Categories */
.latest {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-evenly;
}

.latest-slope {
    display: flex;
    flex-direction: column;
    width: 365px;
    height: 350px;
    border-radius: 13px;
    background: #100F0F;
    margin-top: 15%;
}

.latest-slope-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 365px;
    height: 500px;
    border-radius: 13px;
    background: #100F0F;
    margin-top: 15%;
}

.bagel {
    position: absolute;
}

.l-pizza {
    position: absolute;
}

.sandw {
    position: absolute;
}

.l-slope-info1, .l-slope-info3 {
    display: flex;
    width: 365px;
    height: 350px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
    color: #fff;
}

.l-slope-info1 h1, .l-slope-info3 h1 {
    margin-top: 8%;
}

.l-slope-info1 p, .l-slope-info3 p {
    font-size: 15px;
    margin-top: 9%;
    margin-right: 15%;
    margin-left: 15%;
    line-height: 37px;
}

.latest-seperator {
    width: 295px;
    height: 2px;
    background: #fff;
    margin-top: 8%;
}

.l-button {
    width: 175px;
    height: 38px;
    margin-top: 9%;
    background: #FED330;
    border: 1px #FED330 solid;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.l-button:hover {
    border: 3px #FED330 solid;
    color: #FED330;
    background: none;
    transition: ease 600ms;
}

.l-slope-info2 {
    display: flex;
    width: 365px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
    color: #fff;
}

.l-slope-info2 h1 {
    margin-top: 8%;
}

.l-slope-info2 p {
    font-size: 15px;
    margin-top: 9%;
    margin-right: 15%;
    margin-left: 15%;
    line-height: 39px;
}

.l-button-mid {
    width: 185px;
    height: 42px;
    margin-top: 11%;
    background: #FED330;
    border: 1px #FED330 solid;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.l-button-mid:hover {
    border: 3px #FED330 solid;
    color: #FED330;
    background: none;
    transition: ease 600ms;
}

/* Testimonials */
.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 525px;
    background: #f3f3f3;
    margin-top: 28%;
}

.test-star {
    width: 35px;
    height: 35px;
    margin-top: 20%;
}

.test h1 {
    font-size: 48px;
    margin-top: 4.4%;
    font-weight: 600;
}

.test p {
    font-size: 17px;
    font-weight: 400;
    margin-top: 2.8%;
    margin-left: 6.5%;
    margin-right: 6.5%;
    line-height: 38px;
}

.test-seperator {
    width: 70px;
    height: 3px;
    background: #26DE81;
    margin-top: 3.8%;
}

.test-sign {
    font-size: 20px;
    margin-top: 2.5%;
}

/* Contact */
.contact {
    display: flex;
    width: 100%;
    height: 560px;
    margin-top: 11%;
}

.contact-h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 58px;
}

.map-i {
    width: 45px;
    height: 51px;
    position: absolute;
    left: 4%;
}

.phone-i {
    width: 45px;
    height: 51px;
    position: absolute;
    left: 4.6%;
    margin-top: 7.8%;
}

.envelope-i {
    width: 65px;
    height: 42px;
    position: absolute;
    left: 4%;
    margin-top: 8.2%;
}

.us {
    margin-top: 8%;
}

.location {
    margin-left: 45%;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.location h1 {
    font-size: 23px;
    font-weight: bolder;
}

.location p {
    font-size: 15px;
    letter-spacing: 4px;
}

.phone {
    margin-left: 45%;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.phone h1 {
    font-size: 23px;
    font-weight: bolder;
    margin-top: 45%;
}

.phone p {
    font-size: 15px;
    letter-spacing: 4px;
}

.email {
    margin-left: 45%;
    display: flex;
    flex-direction: column;
    width: 195px;
}

.email h1 {
    font-size: 23px;
    font-weight: bolder;
    margin-top: 49.5%;
}

.email p {
    font-size: 15px;
    letter-spacing: 4px;
}

/* Input */
.input {
    margin-top: 8%;
    margin-left: 28%;
}

#name-i {
    width: 500px;
    height: 43px;
    background: #F0F5F5;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 4%;
}

#phone-i {
    width: 500px;
    height: 43px;
    background: #F0F5F5;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 4%;
    margin-top: 3.3%;
}

#email-i {
    width: 500px;
    height: 43px;
    background: #F0F5F5;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 4%;
    margin-top: 3.3%;
}

#msg-i {
    width: 500px;
    height: 115px;
    background: #F0F5F5;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 4%;
    margin-top: 3.3%;
}

.input-button {
    width: 500px;
    height: 45px;
    background: #FED330;
    border: 1px #FED330 solid;
    border-radius: 10px;
    margin-top: 5%;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
}

.socials {
    position: absolute;
    left: 4.6%;
    margin-top: 45%;
    width: 40%;
}

.t-contact, .ig-contact, .fb-contact {
    width: 20px;
    height: 20px;
}

.t-contact, .ig-contact {
    margin-left: 2%;
    cursor: pointer;
}

.fb-contact {
    cursor: pointer;
}